scripts/logic-app-email-exported-cost-data/logic-app-code.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Export_Name": {
                "inputs": {
                    "variables": [
                        {
                            "name": "exportName",
                            "type": "string",
                            "value": "@{split(body('Get_Blob_Metadata_(V2)')?['Path'], '/')[3]}"
                        }
                    ]
                },
                "runAfter": {
                    "Storage_Directory_Name": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Exported_Date_Time": {
                "inputs": {
                    "variables": [
                        {
                            "name": "exportedDateTime",
                            "type": "string",
                            "value": "@{formatDateTime(body('Get_Blob_Metadata_(V2)')?['LastModified'], 'yyyy-MM-dd HH:mm:ss')}"
                        }
                    ]
                },
                "runAfter": {
                    "Get_Blob_Metadata_(V2)": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Exported_Time_Range": {
                "inputs": {
                    "variables": [
                        {
                            "name": "exportedTimeRange",
                            "type": "string",
                            "value": "@{split(body('Get_Blob_Metadata_(V2)')?['Path'], '/')[4]}"
                        }
                    ]
                },
                "runAfter": {
                    "Export_Name": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Get_Blob_Metadata_(V2)": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/files/@{encodeURIComponent(encodeURIComponent(uriPath(triggerBody().data.url)))}"
                },
                "runAfter": {},
                "type": "ApiConnection"
            },
            "Get_blob_content_(V2)": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/files/@{encodeURIComponent(encodeURIComponent(body('Get_Blob_Metadata_(V2)')?['Path']))}/content",
                    "queries": {
                        "inferContentType": false
                    }
                },
                "runAfter": {
                    "Exported_Time_Range": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Send_an_email_(V2)": {
                "inputs": {
                    "body": {
                        "Attachments": [
                            {
                                "ContentBytes": "@{base64(body('Get_blob_content_(V2)'))}",
                                "Name": "@body('Get_Blob_Metadata_(V2)')?['Name']"
                            }
                        ],
                        "Body": "<p>Azure Cost Management usage data exported by \"@{variables('exportName')}\".<br>\n<br>\nExport name: @{variables('exportName')}<br>\nStorage container name: @{variables('storageContainerName')}<br>\nStorage directory name: @{variables('storageDirectoryName')}<br>\nFile Name: @{body('Get_Blob_Metadata_(V2)')?['Name']}<br>\nExported Time: @{variables('exportedDateTime')}<br>\nURI: @{body('Get_Blob_Metadata_(V2)')?['Path']}</p>",
                        "Importance": "Normal",
                        "Subject": "@{parameters('emailSubjectPrefix')} Exported by @{variables('exportName')} at  @{variables('exportedDateTime')}",
                        "To": "@parameters('emailTo')"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['office365']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/v2/Mail"
                },
                "runAfter": {
                    "Get_blob_content_(V2)": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Storage_Container_Name": {
                "inputs": {
                    "variables": [
                        {
                            "name": "storageContainerName",
                            "type": "string",
                            "value": "@{split(body('Get_Blob_Metadata_(V2)')?['Path'], '/')[1]}"
                        }
                    ]
                },
                "runAfter": {
                    "Exported_Date_Time": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Storage_Directory_Name": {
                "inputs": {
                    "variables": [
                        {
                            "name": "storageDirectoryName",
                            "type": "string",
                            "value": "@{split(body('Get_Blob_Metadata_(V2)')?['Path'], '/')[2]}"
                        }
                    ]
                },
                "runAfter": {
                    "Storage_Container_Name": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            },
            "emailSubjectPrefix": {
                "defaultValue": "[Azure Cost Management Usage Data]",
                "type": "String"
            },
            "emailTo": {
                "defaultValue": "cost@example.com",
                "type": "String"
            }
        },
        "triggers": {
            "When_a_resource_event_occurs": {
                "inputs": {
                    "body": {
                        "properties": {
                            "destination": {
                                "endpointType": "webhook",
                                "properties": {
                                    "endpointUrl": "@{listCallbackUrl()}"
                                }
                            },
                            "filter": {
                                "includedEventTypes": [
                                    "Microsoft.Storage.BlobCreated"
                                ]
                            },
                            "topic": "/subscriptions/11111111-2222-3333-4444-555555555555/resourceGroups/exptl-cost-export/providers/Microsoft.Storage/storageAccounts/costexport1256"
                        }
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureeventgrid']['connectionId']"
                        }
                    },
                    "path": "/subscriptions/@{encodeURIComponent('11111111-2222-3333-4444-555555555555')}/providers/@{encodeURIComponent('Microsoft.Storage.StorageAccounts')}/resource/eventSubscriptions",
                    "queries": {
                        "x-ms-api-version": "2017-06-15-preview"
                    }
                },
                "splitOn": "@triggerBody()",
                "type": "ApiConnectionWebhook"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azureblob": {
                    "connectionId": "/subscriptions/11111111-2222-3333-4444-555555555555/resourceGroups/exptl-cost-export/providers/Microsoft.Web/connections/azureblob",
                    "connectionName": "azureblob",
                    "id": "/subscriptions/11111111-2222-3333-4444-555555555555/providers/Microsoft.Web/locations/japaneast/managedApis/azureblob"
                },
                "azureeventgrid": {
                    "connectionId": "/subscriptions/11111111-2222-3333-4444-555555555555/resourceGroups/exptl-cost-export/providers/Microsoft.Web/connections/azureeventgrid",
                    "connectionName": "azureeventgrid",
                    "id": "/subscriptions/11111111-2222-3333-4444-555555555555/providers/Microsoft.Web/locations/japaneast/managedApis/azureeventgrid"
                },
                "office365": {
                    "connectionId": "/subscriptions/11111111-2222-3333-4444-555555555555/resourceGroups/exptl-cost-export/providers/Microsoft.Web/connections/office365",
                    "connectionName": "office365",
                    "id": "/subscriptions/11111111-2222-3333-4444-555555555555/providers/Microsoft.Web/locations/japaneast/managedApis/office365"
                }
            }
        }
    }
}
